.large-text {
  font-size: clamp(21px, 6vw, 72px);
  font-family: "Uncut Sans Bold", sans-serif;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-links {
    display: flex;
    gap: clamp(14px, 4vw, 64px);
    flex-wrap: wrap;
    font-size: 16px;
    margin: 0;
    margin-top: 24px;
}

.underline-animation,
.footer-links li a{
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.underline-animation:hover,
.footer-links li a:hover {
    opacity: 0.8;
}

.footer-bottom-text {
  font-size: 14px;
    padding: 0;
    opacity: 0.5;
    margin-top: 96px;
    margin-bottom: 32px;
    text-align: center;
}

@media screen and (max-width: 500px) {
  .footer-links {
    display: grid;
    font-size: 14px;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 16px;
  }

  .footer-bottom-text {
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.link-active {
  color: gray;
  text-decoration: underline;
  cursor: default;
  pointer-events: none;
}