.page-break {
    display: block;
    max-width: 730px;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0px;
    transform-origin: center;
}

.centred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-large-text {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -2%;
    max-width: 720px;
    padding: 0px;
    margin: 0px 0px 48px;
}

.result-text {
    margin: 24px 0px 72px 0px;
}

.about-text {
    max-width: 720px;
    text-align: left;
    width: 100%;
    margin: 0px 0px 24px 0px;
    line-height: 140%;
    letter-spacing: -2%;
}

.page-end {
    margin-bottom: 64px;
}

#value-prop {
    height: calc(1000px + 50vh);
    padding-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
    .about-large-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 850px) {
    .about-large-text {
        font-size: 20px;
    }

    .page-end {
        margin-bottom: 32px;
    }
}