.page-break {
    display: block;
    max-width: 730px;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0px;
    transform-origin: center;
}

.centred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-large-text {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -2%;
    max-width: 720px;
    padding: 0px;
    margin: 0px 0px 48px;
}

.result-text {
    margin: 24px 0px 64px 0px;
}

.about-text {
    max-width: 720px;
    text-align: left;
    width: 100%;
    margin: 0px 0px 24px 0px;
    line-height: 140%;
    letter-spacing: -2%;
}

.page-end {
    margin-bottom: 64px;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-inline: 16px;
  text-align: center;
}

.hero-image {
  max-width: 464px;
  max-height: 464px;
  width: 100%;
  height: auto;
  z-index: 2;
  mix-blend-mode: overlay;
}

.hero-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  line-height: 1;
  margin-top: 1rem;
  position: relative;
}

.first-name {
  font-size: clamp(3rem, 7vw, 5rem);
  color: var(--colour-foreground);
  opacity: 0.4;
  transform: translateY(-70%);
  z-index: 1;
  mix-blend-mode: luminosity;
}

.last-name {
  font-size: clamp(3rem, 8vw, 6rem);
  color: var(--colour-foreground);
  transform: translateY(-60%);
  z-index: 2;
  mix-blend-mode: exclusion;
}

#value-prop {
    height: calc(1000px + 50vh);
    padding-bottom: 10vh;
}

#hobbies-image-container {
    padding-bottom: calc(16px + 25vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-image,
.hobbies-image {
    max-width: 928px;
    max-height: 522px;
}

.strategy-image {
    margin-block: 16px;
}

.hobbies-image{
    margin-bottom: 16px; 
}

.game-description {
    margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
    .about-large-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 850px) {
    .about-large-text {
        font-size: 20px;
    }

    .page-end {
        margin-bottom: 32px;
    }
}