@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Fjalla+One&display=swap');

.content-wrapper {
    margin-inline: 32px;
}

.viewport-content {
    flex-direction: column;
    width: 100%;
    height: 100svh;
    display: flex;
}

.background-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px);
}

@media screen and (max-width: 850px) {
    .content-wrapper {
        margin-inline: 16px;
    }
}