@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Fjalla+One&display=swap');

:root {
    --icon-radius: 8px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-inline: 16px;
    text-align: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    line-height: 1;
    margin-top: 1rem;
    position: relative;
    top: -25%;
}

.full-name {
    font-family: "Uncut Sans Bold", sans-serif;
    font-size: clamp(24px, 6vw, 128px);
    line-height: 80%;
    margin-block: 0;
    color: white;
}

.title {
    font-family: "Uncut Sans Regular", sans-serif;
    font-size: clamp(16px, 3vw, 24px);
    font-weight: 400;
    max-width: 750px;
    line-height: 110%;
    letter-spacing: 0px;
    margin: 16px 0px;
    color: white;
}


.works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(24px, 5vw, 64px);
    margin-top: 24px;
    margin-bottom: clamp(72px, 7vw, 132px);
}

.work-item {
    width: 100%;
    height: 100%;
    background-color: #222222;
    border-radius: clamp(8px, 3vw, 16px);
}

.work-image-container {
    padding-inline: clamp(8px, 3vw, 16px);
    padding-top: clamp(8px, 3vw, 16px);
    padding-bottom: clamp(16px, 4vw, 24px);
}

.work-image {
    border-radius: clamp(8px, 3vw, 16px);
    z-index: 1;
}

.work-title {
    font-size: clamp(20px, 5vw, 32px);
    font-weight: 400;
    margin-left: clamp(8px, 3vw, 16px);
    z-index: 2;
}

.work-tags {
    font-size: clamp(16px, 4vw, 20px);
    opacity: 80%;
    margin-top: 8px;
    margin-left: clamp(8px, 3vw, 16px);
    margin-bottom: 0px;
    padding-bottom: 16px;
}

@media screen and (max-width: 850px) {
    :root {
        --icon-radius: 4px;
    }

    .works-section {
        margin-bottom: 72px;
    }
}
