@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: "Fragment Light", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Fragment", sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Fragment';
    src: url('/fonts/PPFragment-SansRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fragment Italic';
    src: url('/fonts/PPFragment-SansRegularitalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fragment Light';
    src: url('/fonts/PPFragment-SansLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fragment Bold';
    src: url('/fonts/PPFragment-SansExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fragment Bold Italic';
    src: url('/fonts/PPFragment-SansExtraBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.link-active {
  color: hsla(0, 0%, 100%, 0.5);
}