@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: "Uncut Sans regular", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Uncut Sans bold", sans-serif;
}

span {
    font-family: "Uncut Sans Regular", sans-serif;
}